/* Custom styles */
body {
  font-family: 'Open Sans', sans-serif;
}

.box {
  border: 5px solid #00d1b2; /* Border with Bulma's primary color */
  border-radius: 10px;
}

footer a:hover {
  color: #fff;
}

.is-hidden {
  display: none;
}
